
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
    /*background-color: #1d1d1d;*/
	background-color: #000000;
	color: #b8b8b8;
    padding: 0;
    margin: 0;
	font: 400 14px/20px Roboto,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
	text-align: left;
	padding-bottom: 3rem;
}

.noScroll {
	overflow: hidden;
}

.clear {
	clear: both;
}
.noSelect {
	-webkit-tap-highlight-color:transparent;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}

.display-none {
    display: none !important;
}

#title{
    background:transparent url(../images/title.png) 0 0 scroll;
    position:absolute;
    top:60px;
    left:24px;
    height:62px;
    width:334px;
}

#download{
    position:absolute;
    top:132px;
    left:30px;
    text-decoration:none;
    font-size:12px;
    color:#999;
    font-family:arial, sans-serif;
}

#download:hover{
    color:#fff;
}

/* Menu */
#menu-trigger {
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: .5rem;
	z-index: 4;
}

.site-menu {
    width: 80vw;
    max-width: 225px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
	transform: translateX(-100%);
	transition: transform .2s ease;
	background-color: #1d1d1d;
	z-index: 5;
}
.site-menu-open {
	transform: translateX(0);
}

.site-menu ul {
    margin: 0;
    list-style: none;
    padding: 2rem 0;
}

.site-menu li:hover {
    background-color: #121212;
}

.site-menu li:last-child {
    border-top: 1px solid #545353;
	margin-top: 1rem;
}

.site-menu li a {
    color: #ffffff;
    text-decoration: none;
}

.site-menu li a, .contactMe {
    display: block;
	padding: .6rem 1rem;
}

.contactMe {
    white-space: nowrap;
	overflow: hidden;
}

.rollText {
    color: #c0c1c1;
	cursor: pointer;
}

.rollText:before {
    content: attr(data-before);
    word-break: break-all;
    opacity: 0.5;
}

.rollText:after {
    content: attr(data-after);
    word-break: break-all;
    opacity: 0.5;
}

/* Music Player */
.ttw-music-player {
    max-width: 420px;
    margin: 45px auto 0 auto;
    font-family: 'Lato', arial, sans-serif;
}

.ttw-music-player .player {
    width: 100%;
	text-align: center;
}

/** Album Cover **/

.ttw-music-player .album-cover:hover .highlight {
    opacity: 1;
}

.album-cover {
    position: relative;
	display: block;
    width: 80%;
    max-width: 240px;
	margin: 0 auto;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	box-shadow: 0px 32px 40px -10px rgb(0 0 0 / 49%);
}
.ttw-music-player .album-cover .img {
    position: relative;
    z-index: 3;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.ttw-music-player .album-cover img,
.ttw-music-player .album-cover .img,
.ttw-music-player .album-cover .highlight {
    width: 100%;
    height: auto;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.album-cover:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 105%;
    height: 95%;
	border-radius: 3px;
	background-color: rgb(255 255 255 / 75%);
    z-index: 0;
}
.album-cover:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 110%;
    height: 90%;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	background-color: rgb(255 255 255 / 35%);
    z-index: 0;
}

/** Track Info **/
.ttw-music-player .track-info {
    margin: 3rem 0 1rem 0;
    font-size: 12px;
}

.ttw-music-player .track-info p {
    margin: 0 0 8px 0;
}

.ttw-music-player .player .title {
    color: #efefef;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
    font-family: 'Lato Bold', arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.ttw-music-player .artist-outer {
    color: #999;
    font-family: 'Lato Italic', arial, sans-serif;
    font-style: italic;
}

.ttw-music-player .artist {
    color: #999;
    font-family: 'Lato', arial, sans-serif;
}

.ttw-music-player .rating {
    width: 75px;
    height: 16px;
}

.ttw-music-player .rating-star {
    width: 15px;
    height: 16px;
    display: block;
    float: left;
    cursor: pointer;
}

.ttw-music-player .rating-star:hover,
.ttw-music-player .rating-star.on,
.ttw-music-player .rating-star.hover {
}

/** Player **/
.ttw-music-player .player-controls {
    
}

.ttw-music-player .player-controls .main {
	position: relative;
    width: 100%;
    display: flex;
    margin: 1rem 0;
}

.ttw-music-player .player-controls .main-controls {
    margin: 0 auto;
}

.ttw-music-player .player-controls .main .material-icons {
    float: left;
    cursor: pointer;
	color: #efefef;
	font-size: 30px;
    line-height: 40px;
}

.player-controls .main-controls .jp-play.material-icons, .player-controls .main-controls .jp-pause.material-icons {
    font-size: 40px;
	margin: 0 1rem;
}

.secondary-controls .togglePlaylist {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 10px;
}

.licenseBuy-wrapper {
    padding: 12px;
}

.License-item span .material-icons {
    vertical-align: middle;
	font-size: inherit;
	cursor: initial;
}

.buyCurrentBeat {
    background-color: #005ff8;
    color: #ffffff;
    padding: 6px;
    font-size: 11px;
    text-decoration: none;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	cursor: pointer;
}

.secondary-controls .buyCurrentBeat {
	position: absolute;
    right: 0;
    top: 7px;
}

.progress-container {
    height: 31px;
    padding: 14px 0px;
    position: relative;
}
.progress-container:hover .progress-wrapper {
    height: 9px;
}
.progress-container:hover .elapsed.jp-play-bar:after {
    width: 15px;
    height: 15px;
}

.ttw-music-player .progress-wrapper {
    height: 3px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
	transition: height ease .2s;
}


.ttw-music-player .progress {
    height: 100%;
    width: 100%;
    cursor: pointer;
	background-color: rgb(255 255 255 / 35%);
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.ttw-music-player .elapsed {
    height: 100%;
	position: relative;
    background-color: #FFEB3B;
    width: 60%;
	border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	transition: width ease .4s;
}

.elapsed.jp-play-bar:after {
    content: "";
    width: 5px;
    height: 5px;
	margin-right: -2px;
    background-color: #fff;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 50%;
	-moz-border-radius: 50%;
    -webkit-border-radius: 50%;
	transition: width ease .4s, height ease .4s;
}

.current-time-wrapper {
    color: #efefef;
	font-size: 12px;
}
.current-time-wrapper span.jp-current-time {
    float: left;
}
.current-time-wrapper span.jp-duration {
    float: right;
}

.ttw-music-player .unused-controls {
    display: none !important;
}

/** Description **/
.ttw-music-player .description {
    clear: both;
    margin: 30px 0 0 0;
    font-size: 12px;
    color: #999;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
}

.ttw-music-player .description.showing{
    margin:30px 0;
}

/** Track List **/
.tracklist-header, .secondary-controls .togglePlaylist, #close-buyContainer {
    display: none;
}

#close-buyContainer {
    margin-top: 1rem;
}

.ttw-music-player .tracklist {
    padding: 10px 20px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #1a1a1a;
    color: #999;
    font-size: 12px;
    width: 100%;
	margin-top: 3rem;
}

.ttw-music-player .tracklist.show-playlist {
    transform: translateX(-50%) translateY(0%);
}

.ttw-music-player .tracklist ol {
    margin: 0;
    padding: 0;
    overflow:hidden;
    position:relative;
}

.ttw-music-player .tracklist li {
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    list-style-position: inside;
    position: relative;
	border-bottom: 1px solid #2b2b2b;
}

.ttw-music-player .tracklist li:hover {
    color: #eee;
}

.ttw-music-player li:last-child{
    border-bottom: none;
}

.ttw-music-player .show-more-button li:last-child{
    background: transparent url(../images/tracklist-item-bg.png) repeat-x bottom left scroll;
}

.track span {
    vertical-align: middle;
}

.ttw-music-player .tracklist .title {
    width: 60%;
    display: inline-block;
    padding: 10px 0 10px 6px;
    cursor: pointer;
}

.ttw-music-player li:nth-child(1n + 10) .title{
    padding-left:7px;
}

.ttw-music-player li.playing {
    color:#fff !important;

}

.site-header {
	text-align: center;
	color: #999;
}

.site-header span, .site-header a {
    padding: 0 12px;
	text-decoration: underline;
	color: #999;
	cursor: pointer;
}

#license-page {
    color: #FFEB3B;
}


.ttw-music-player .tracklist .rating {
    margin-left: 10px;
    width: 30px;
    display: block;
    position: absolute;
    right: 72px;
    top: 12.5px;
}

.ttw-music-player .rating-bar {
    height: 10px;
    width: 3px;
    display: block;
    float: left;
    cursor: pointer;
}

.ttw-music-player .rating-bar.on,
.ttw-music-player .rating-bar:hover,
.ttw-music-player .rating-bar.hover {
}

.ttw-music-player .buy {
    height: 16px;
	padding: 0 6px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #313131;
    font-size: 10px;
    text-align: center;
    line-height: 16px;
    text-shadow: none;
    color: #999;
    text-decoration: none;
	cursor: pointer;
}

.ttw-music-player .buy:hover {
    color: #FFEB3B;
}

.ttw-music-player .buy.not-active{
    display:none;
}

.ttw-music-player .more {
    display:none;
    font-family: 'Lato Italic', arial, sans-serif;
    font-style: italic;
    font-size: 11px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .6);
    padding: 10px 0;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: #1b1b1b;
}

.ttw-music-player .more:hover {
    color: #eee;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .2);
    -moz-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .2);
    -webkit-box-shadow: inset 0px 0px 20px rgba(0, 0, 0, .2);
}

.ttw-music-player .show-more-button .more{
    display:block;
}


/** Transitions **/
.ttw-music-player .more,
.ttw-music-player .album-cover .highlight,
.ttw-music-player .tracklist li,
.ttw-music-player .buy {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.license-container {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 88vw;
    max-width: 1055px;
    height: 90vh;
    z-index: 4;
    background-color: #1d1d1d;
    overflow: auto;
	transform: translate(-50%, -50%) scale(.1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
	transition: transform .3s ease, opacity .3s ease;
}
.show-licenses {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.license-container::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background: #2f414c;
}
.license-container::-webkit-scrollbar-corner {
    background-color: #2f414c;
}
.license-container::-webkit-scrollbar-thumb {
    background: #47525a;
    width: 8px;
    border-radius: 6px;
    border: 2px solid #252729;
}
.license-container::-webkit-scrollbar-track {
    background-color: #252729;
}

.license-container .description {
    background-color: rgb(183 28 28 / 28%);
    background-color: rgb(92 107 192 / 53%);
    color: #ffffff;
	padding: 1rem 0;
    margin-bottom: 2rem;
}

.license-container .description:before {
    content: "";
    background-image: url(https://cdn.freebiesupply.com/logos/large/2x/paypal-logo-png-transparent.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 99px;
    height: 30px;
    background-color: #fff;
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 10px;
}

.error-purchase {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 1rem 3rem;
    z-index: 4;
    background-color: #1d1d1d;
    overflow: auto;
    transform: translate(-50%, -50%) scale(.1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform .3s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity .3s ease;
}
.show-buy-error {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.License-item {
    /* box-shadow: 0px 32px 40px -10px rgb(0 0 0 / 49%); */
	width: 100%;
    max-width: 275px;
    display: inline-block;
    background-color: #1d1d1d;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 1rem 0rem 2rem 0rem;
	margin: 0 1rem;
    border: 1px solid #292929;
	border: 1px solid #FFEB3B;
	vertical-align: top;
	font-size: 13px;
    line-height: 19px;
}

.licenseBuy-exclusive {
    color: #FFEB3B;
}

.section-title {
    color: #fff;
    font-size: 3rem;
}

.License-item h2 {
    color: #ffffff;
}

.licensePrice {
    border-top: 1px solid #7e7e7e;
	border-top: 1px solid #FFEB3B;
    padding-top: 20px;
    margin: 1rem 2rem 0rem 2rem;
}

.license-hr {
    margin: 0rem 2rem;
	border-color: #FFEB3B;
}

.License-item ul {
    text-align: left;
	padding: 0 1rem 0 3rem;
}

#buyContainer table {
    text-align: center;
    margin: 16px auto;
}

#buyContainer tr:nth-child(2) td {
	position: relative;
}

#buyContainer tr:nth-child(2) td:before {
    content: "";
    /*background-color: rgb(255 235 59 / 25%);*/
	background-color: rgb(66 165 245 / 35%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
}
#buyContainer.highlight-activated tr:nth-child(2) td:before {
	animation:highlight 1s infinite;
}

@keyframes highlight {
  from {transform: translate(-50%,-50%) scale(1);}
  to {transform: translate(-50%,-50%) scale(1.3, 2);}
}

#buyContainer {
    margin-bottom: 2rem;
}

#buyContainer select {
    padding: 8px;
	position: relative;
	border: 0;
    font-weight: bold;
	color: #002c80;
}

#buyTitle .material-icons {
    font-size: inherit;
	cursor: initial;
}

#darkPane, #tracklistDarkPane {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
	z-index: 3;
    background-color: rgb(0 0 0 / 75%);
	opacity: 0;
    visibility: hidden;
    pointer-events: none;
	transition: opacity ease .3s;
}

#darkPane.show-darkPane, #tracklistDarkPane.show-darkPane {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
	transition: opacity ease .3s;
}

/* Plugins */

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.License-item {
		margin-bottom: 2rem;
	}
}

@media only screen and (max-width: 600px) {
	body {
		padding: 0rem 1rem 3rem 1rem;
		font: 400 12px/18px Roboto,sans-serif;
	}
	.album-cover {
		width: 60%;
	}
	#beatPlaylist {
		position: fixed;
		left: 1rem;
		right: 1rem;
		bottom: 24px;
	}
	.section-title {
		color: #fff;
		font-size: 2rem;
	}
	.license-container .description {
		font-size: 11px;
		line-height: 17px;
		padding: 1rem;
	}
	.license-container {
		height: 70vh;
	}
	.license-container .description:before {
		display: block;
		margin: 0 auto 10px auto;
	}
	.error-purchase {
		width: 80vw;
		padding: 1rem;
		line-height: normal;
	}
	.License-item {
		max-width: 245px;
		margin: 0 0rem 2rem 0rem;
	}
	.buyCurrentBeat {
		font-size: 9px;
	}
	
	.tracklist-header, .secondary-controls .togglePlaylist, #close-buyContainer {
		display: block;
	}
	.ttw-music-player .tracklist {
		padding: 10px 20px;
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
		background-color: #1a1a1a;
		color: #999;
		font-size: 12px;
		position: fixed;
		top: 150px;
		left: 50%;
		transform: translateX(-50%) translateY(100%);
		transform-origin: 5% 100%;
		z-index: 4;
		width: 100%;
		height: calc(100vh - 150px);
		overflow: auto;
		transition: transform ease .2s, opacity ease .2s;
		box-shadow: 0px 0px 40px 0px rgb(0 0 0 / 49%);
		margin-top: 0;
	}
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	html {
		transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
	}
}




